{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div style="height: 100%; background-color: white; display: flex; flex-direction:column; justify-content: center; align-items: center; margin-bottom: 0px;">
    <h1 style="color: black;">Add Comment</h1>
</div>
<hr style="width: 80%;">
<div class="blog-page" style="background-color: white; display: flex; align-items: center; justify-content: center; padding-top:0%; padding-bottom: 10%; margin-top: 0px;">
    <form method="POST">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        {{ form|crispy }}
        <button class="btn btn-secondary">Post</button>
    </form>
{% endblock %}