<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
{% extends "base_generic.html" %}
{% block content %}
<div class="newsletterHeader">
    <h1 id="novel-title">Newsletter</h1>
    <h2 id="novel">Keep track of what Novel is doing!</h2>
    <br>
</div>

<div class="blog-page">
    <div>
        {% for post in object_list %}
        <a href="{% url 'article-detail' post.pk %}">
            <div class="blog-wrapper">
                <div class="blog-summary">
                    <h1>{{ post.title }}</h1>
                    <p>Posted by {{ post.author }}</p>
                    <p class="blogContent">{{ post.intro }}</p>
                    <small>Posted {{ post.date_added }}</small>
                </div>
            </div>
        </a>
        <br>
        {% endfor %}
    </div>
</div>

{% endblock %}