<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}<title>Local Library</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <!-- Add additional CSS in static file -->

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <div class="wrapper">
      <div class="row">
        <div class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="navBar">
          {% block sidebar %}
            <ul class="middleNavBar">
              <li><a href="{% url 'index' %}">About Us</a></li>
              <li><a href="{% url 'directors' %}">Leadership</a></li>
              <li><a href="{% url 'directors' %}">Media</a></li>
                        <!-- <li><a>Leadership</a></li>
                        <li><a>Our Partners</a></li>
                        <li><a>Media</a></li> -->
              {% if user.is_authenticated %}
              <li>User: {{ user.get_username }}</li>
              <li><a href="{% url 'my-borrowed' %}">My Borrowed</a></li>
              <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
              {% else %}
              <li><a href="{% url 'register' %}">Sign in</a></li>   
              {% endif %} 
            </ul>

          {% if user.is_staff %}
            <hr/>
            <ul class="">
              <li>Staff</li>
              {% if perms.catalog.can_mark_returned %}
              <li><a href="{% url 'all-borrowed' %}">All Movies</a></li>
            {% endif %}
            </ul>
            {% endif %}
        {% endblock %}
          </div>
        </div>
      </div>
      <div id="contentBody">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>