{% load static %}
<div class="aboutDiv">
    <h2 class="aboutSubtitle">What is Novel?</h2>
    <p class="aboutText">Novel is an innovative and multidimensional public health media company that explores public health through film. It functions as a video streaming, digital media, and online networking company dedicated to expanding the public health film industry. Here at Novel, we focus on highlighting urgent public health concerns in the local, national, and global community. To our knowledge, we are the first of its kind</p>
</div>