{% extends "base_generic.html" %}
<link rel="stylesheet" type="text/css" href="/staticfiles/css/styles.css" />
{% block content %}

<div id="aboutUs">
    <div class="firstPageCtr">
        <div class="firstPage">
            <div>
                <h1 id="novel-title" style="text-align:center">Contact Us</h1>
                <h2 id="novel" style="text-align:center"> Want to keep in touch with us? </h2>
            </div>
        </div>
    </div>

    <div class="secondPageCtr">
        <div class="secondPage" style="background-color: #e4f2fc">
            <div class="aboutDiv" style="text-align: center">
                <h2 class="aboutSubtitle">Please fill out this form!</h2>
                <p>Insert form here!!!</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}