{% extends "base_generic.html" %}
<link rel="stylesheet" type="text/css" href="/staticfiles/css/styles.css" />
{% block content %}

<div id="aboutUs">
    <div class="firstPageCtr">
        <div class="firstPage">
            <div>
                <h1 id="novel-title" style="text-align:center">Leadership</h1>
                <h2 id="novel" style="text-align:center"> Learn about who's involved in this new endeavor!</h2>
            </div>
        </div>
    </div>
    <div class="secondPageCtr">
        <div class="secondPage">
            <div class="aboutDiv" style="text-align: center">
                <h2 class="aboutSubtitle">Founder</h2>
                <p class="aboutText"> Novel was founded on the campus of the University of North Carolina at Chapel Hill
                    by a Master of Public Health candidate at the renowned Gillings School of Global Public Health.
                    Since its inception, Novel has been owned and operated by public health professionals. At Novel our
                    staff is united behind our vision to be the leading platform for public health films across the
                    globe.
                    Special thanks goes to all the alumni, faculty, and staff at UNC who have contributed valuable
                    consultation towards the creation of Novel. The UNC innovation and entrepreneurship community has
                    been a truly inviting family for embracing Novel with open arms. Thank you to all who contributed.
                    Novel will forever be grateful for your efforts.</p>
            </div>
        </div>
    </div>
    <div class="secondPageCtr">
        <div class="secondPage" style="background-color: #e4f2fc">
            <div class="aboutDiv" style="text-align: center">
                <h2 class="aboutSubtitle">Team</h2>
                <p class="aboutText">Currently, Novel’s team consists of an extraordinarily talented group of interns
                    from UNC’s Department of Computer Science. Novel plans to utilize the UNC Chapel Hill community as a
                    resource for future internship and fellowship opportunities for students. As Novel expands, there is
                    a growing need for various positions. Position openings will be posted on our site soon. Interested
                    in Joining Us? Fill out the form on the contact us page for more inquiries.</p>
            </div>
        </div>
    </div>
    <div class="secondPageCtr">
        <div class="secondPage">
            <div class="aboutDiv" style="text-align: center">
                <h2 class="aboutSubtitle">Our Partners</h2>
                <p class= "aboutText">The University of North Carolina At Chapel Hill</p>
                <p class= "aboutText"> The Gillings School of Global Public Health </p>
                <p class= "aboutText"> Gillings Office of Innovation, Research, and Global Solutions </p>
                <p class= "aboutText"> 1789 Venture Lab </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}