{% extends "base_generic.html" %}
<link rel="stylesheet" type="text/css" href="/staticfiles/css/styles.css" />
{% block content %}

<div id="aboutUs">
    <div class="firstPageCtr">
        <div class="firstPage">
            <div>
                <h1 id="novel-title" style="text-align:center">Our Partners</h1>
                <h2 id="novel" style="text-align:center"> Read about who Novel is working with!</h2>
            </div>
        </div>
    </div>

    <div class="secondPageCtr">
        <div id="secondPage" style="background-color: #e4f2fc">
            <div class="aboutDiv" style="text-align: center">
                <h2 class="aboutSubtitle">Team</h2>
                <p>The University of North Carolina At Chapel Hill</p>
                <p> The Gillings School of Global Public Health </p>
                <p> Gillings Office of Innovation, Research, and Global Solutions </p>
                <p> 1789 Venture Lab </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}