{% extends "base_generic.html" %}
<link rel="stylesheet" type="text/css" href="/staticfiles/css/styles.css"/>
{% block content %}

<div id="aboutUs">
    <div class="firstPage">
        <div>
            <h1 id="novel-title" style="text-align:center">Our Partners</h1>
            <h2 id="novel" style="text-align:center"> Read about who Novel is working with!</h2>
        </div>
        
    </div>

    <div class="aboutText" style="text-align:center">
        <ul>The University of North Carolina At Chapel Hill</ul>
        <ul> The Gillings School of Global Public Health </ul>
        <ul> Gillings Office of Innovation, Research, and Global Solutions </ul>
        <ul> 1789 Venture Lab </ul>
    </div>
  
  
  

</div>

{% endblock %}