<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <body>
        <div class="register-wrapper" style ="grid-template-columns: 6fr 3fr; width: 100%;">
            <div class="main-display" style="display: grid; grid-column: 0/1; margin: 0px; padding: 0px; background-color:#90C2E7; width: 100%;">
                <div id="title-wrapper" style="margin-left: 5%; width: 40%;">
                    <h1 id="register-title" style = "color: white; font-size: 6rem; font-style:normal; font-weight: normal; margin-bottom: 30px;">Novel Public</h1>
                    <h1 style = "color: white; font-size: 6rem; font-style:normal; font-weight: normal; margin-top: 0px; padding-top: 0px;">Health</h1>
                    <h2 style="font-size: 2rem; color: #5490B1; font-weight: normal;">Changing the world of health through film</h2>
                </div>
            </div> 
            <div class="sign-up" style="display: grid; grid-column: 1/2; background-color: white; width: 100%; height: 100%;">
        
            </div> 
        </div>
    </body>
</html> 