{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div id="register-wrapper">
    <div class="register-first-section container">
        <div class="content-section row">
            <div class="col-6 col-s-12 register-mobile">
                <div>
                    <h1 class="register-title">
                        Novel Public Health</h1>
                    <h2 class="register-subtitle">Changing the world of public
                        health through film</h2>

                    <!-- INSERT INFORMATION FOR RIGHT SIDE HERE -->

                    <h2 class="register-info" style="margin-left: 50px; color: black; font-size: 50px;"> </h2>
                </div>
            </div>
            <div class="col-6 col-s-12 register-mobile">
                <form id="register-box" method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group register-fieldset">
                        <legend class="border-bottom mb-4 register-legend">Join <strong>Novel</strong></legend>
                        {{ form|crispy }}
                        <div class="form-group register-signup-btn-ctr">
                            <button class="btn btn-outline-info register-signup-btn" type="submit">Sign Up</button>
                        </div>
                    </fieldset>

                </form>
                <div class="border-top pt-3 register-login-ctr">
                    <p class="text-muted">Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
                    </p>
                </div>
            </div>

        </div>
        <div class="register-additional-info-ctr secondPageCtr">
            <div class="secondPage">
                <!-- INSERT INFORMATION FOR BOTTOM HERE -->

                <h2>*By creating an account, you will automatically be given access to
                    independent made films. If you would like to view Hollywood A-list films, you can upgrade your
                    subscription after signing up.</h2>
            </div>
        </div>
    </div>
</div>
{% endblock content %}