html {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: #90C2E7;
    font-family: 'Ubuntu';
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    /* position: absolute; */
    display: block;
    /* overflow-y: visible; */
}

#contentBody {
    position: relative;
    top: 10%;
    width: 100%;
    height: 100%;
}

/* Main Page */

/* Nav bar css */

nav {
    /* 90C2E7 */
    background: #90C2E7;
    padding: 40px;
    padding-left: 10%;
    padding-right: 10%;
    list-style-type: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav a {
    display: inline;
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 20px;
}

.nav-left {
    float: left;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
}

.nav-right {
    float: right;
    font-family: 'Staatliches', cursive;
}

.nav-left ul li {
    float: left;
}

.nav-right ul li {
    float: right;
}

.navbar {
    margin-top: 0;
    background-color: #90C2E7;
    display: inline;
    text-align: center;
    width: 100%;
    height: 10%;
    z-index: 1;
}

.mobile-nav-item ul, .nav-item ul {
    padding: inherit;
    text-align: left;
    display: none;
}

#mobileMenuList li {
    float: left; 
    clear: both;
}

.nav-item ul {
    position: fixed;
}

.mobile-nav-item ul {
    position: relative;
}

.mobile-nav-item ul li, .nav-item ul li {
    clear: both;
    width: 100%;
}

.mobile-nav-item:hover ul, .nav-item:hover ul {
    display: block;
    z-index: 1;
    background-color: black;
}

.nav-left li, .nav-right li {
    position: relative;
    display: inline-block;
}

nav li:hover a {
    color: #5490B1;
}

nav li:hover {
    background-color: lightcyan;
}

#mobileMenuList li:hover a, #mobileMenuList li:hover ul li:hover a {
    color: #5490B1;
}

#mobileMenuList li:hover ul li a {
    color: #90C2E7;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    cursor: pointer;
}

/* About us Page */

#aboutUs {
    position: relative;
    /* top: 30%; */
    width: 100%;
    height: 100%;
    display: block;
}

#novel {
    margin-top: 0;
    color: rgb(155, 155, 155);
    font-weight: lighter;
    font-size: 2rem;
    align-self: center;
    justify-self: center;
    font-style: italic;
}

#novel-title {
    margin-top: 0;
    padding-top: 100px;
    padding-bottom: 0;
    margin-bottom: 5px;
    font-size: 4rem;
    text-align: center;
    /* color: #5490B1; */
    color: black;
    font-family: 'Staatliches', cursive;
}

.firstPageCtr {
    flex-wrap: wrap;
    flex: 1;
    display: flex;
    overflow: auto;
}

.firstPage {
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    /* background-color: white; */
    background-color: white;
    padding-bottom: 2%;
}

.secondPageCtr {
    flex-wrap: wrap;
    flex: 1;
    display: flex;
    overflow: auto;
}

.secondPage {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-bottom-style: solid;
    border-width: 2px;
    border-top-style: solid;
    border-color: #5490b12a;
    width: 100%;
    padding: 25px;
    /* background-color: #5490B1; */
}

.secondPage::after {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-bottom-style: solid;
    border-width: 2px;
    border-top-style: solid;
    border-color: #5490b12a;
    width: 80%;
    /* background-color: #5490B1; */
}

.aboutTab {
    font-weight: lighter;
    font-size: 2rem;
    margin: 0 auto;
    text-decoration: none;
}

.aboutLink:hover {
    color: #5490B1;
}

.aboutLink {
    font-weight: lighter;
    margin: 10px;
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Staatliches', cursive;
}

.aboutText {
    font-size: 1.2rem;
    max-width: 100%
}

.thirdPageCtr {
    flex-wrap: wrap;
    flex: 1;
    display: flex;
    overflow: auto;
}

.thirdPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    float: none;
    background-color: #e4f2fc;
    position: relative;
    height: auto;
    margin-bottom: 0;
    padding: 25px;
}

.aboutSubtitle {
    color: #5490B1;
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 20px;
    font-family: 'Staatliches', cursive;
}

.aboutDiv {
    display: block;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 5%;
    padding: 5%
}

.aboutDivLeft {
    display: block;
    position: relative;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 1%;
    left: 0;
    padding: 5%;
    width: 50%;
}

.aboutDivRight {
    display: block;
    position: relative;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 0%;
    left: 45%;
    width: 50%;
}

.fourthPageCtr {
    flex-wrap: wrap;
    flex: 1;
    display: flex;
    overflow: auto;
}

.fourthPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    float: none;
    background-color: white;
    position: relative;
    height: auto;
    margin-bottom: 0;
    padding: 25px;
}

#motto {
    color: #5490B1;
    padding-top: 60px;
    font-weight: lighter;
}

/* Login Styles */

.alert {
    padding: 20px;
    background-color: #b4e6b7;
    color: black;
    font-weight: lighter;
}

.content-section {
    background-color: black;
    height: 60%;
    background-color: white;
    padding: 5%;
}

.login-fieldset {
    background-color: #90c1e74f;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 1%;
    float: left;
}

.login-legend {
    font-size: 3rem;
}

.login-btn-ctr {
    margin-top: 20px;
}

.login-btn {
    margin-left: 5px;
    background-color: white;
    padding: 5px;
    border-width: 1px;
    border-radius: 2px;
}

.login-signup-ctr {
    margin: 0 auto;
    padding-bottom: 15%;
    text-align: left;
    clear: both;
}

.login-signup-ctr>p {
    font-size: 20px;
}

.login-signup-ctr a {
    color: #5490b1;
    font-size: 20px;
}

.login-form {
    background-color: white;
}

/* Register page styles */

h1 {
    color: white;
}

#register-title {
    color: white;
}

h2 {
    color: white;
}

.main-display {
    background-color: black;
}

.blog-wrapper {
    background-color: white;
}

#register-wrapper {
    background-color: white;
}

.register-first-section {
    margin: auto;
}

#register-box {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.register-fieldset {
    background-color: #90c1e74f;
    width: 300px;
    margin-left: 10%;
}

.register-legend {
    font-size: 3rem;
    font-family: 'Staatliches', cursive;
}

.register-legend strong {
    color: #5490B1;
}

.register-signup-btn-ctr {
    margin-top: 20px;
}

.register-signup-btn {
    margin-left: 5px;
    background-color: white;
    padding: 5px;
    border-width: 1px;
    border-radius: 2px;
}

.register-title {
    color: #5490B1;
    font-size: 4rem;
    margin-top: 0;
    margin-left: 50px;
    margin-bottom: 0;
    font-family: 'Staatliches', cursive;
}

.register-subtitle {
    color: #305061;
    margin-left: 50px;
    margin-top: 20;
}

.register-login-ctr {
    margin-top: 10px;
    margin-left: 5%;
}

.register-login-ctr>p {
    font-size: 20px;
}

.register-login-ctr a {
    color: #5490b1;
    font-size: 20px;
}

.register-additional-info-ctr {
    height: 40%;
    width: auto;
    padding: 6%;
}

.register-additional-info-ctr h2 {
    color: rgb(0, 0, 0);
}

/* Subscription Styles */

.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.hidden {
    display: none;
}

#submit:hover {
    filter: contrast(120%);
}

#submit {
    font-feature-settings: "pnum";
    --body-color: #f7fafc;
    --button-color: #556cd6;
    --accent-color: #556cd6;
    --gray-border: #e3e8ee;
    --link-color: #fff;
    --font-color: #697386;
    --body-font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    --radius: 4px;
    --form-width: 400px;
    -webkit-box-direction: normal;
    word-wrap: break-word;
    box-sizing: border-box;
    font: inherit;
    overflow: visible;
    -webkit-appearance: button;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font-family: inherit;
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
    padding: 0 12px;
    line-height: 32px;
    outline: none;
    text-decoration: none;
    text-transform: none;
    margin-right: 8px;
    height: 36px;
    border-radius: var(--radius);
    color: #fff;
    border: 0;
    margin-top: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all .2s ease;
    display: block;
    box-shadow: 0 4px 5.5px 0 rgba(0, 0, 0, .07);
    width: 100%;
    background: var(--button-color);
}

/* Extra small devices (phones, 600px and down) */

/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */

/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */

/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */

/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */

/* @media only screen and (min-width: 1200px) {...} */

#mobileMenu {
    display: none;
}

@media only screen and (max-width: 991px) {
    .login-fieldset {
        width: 75%;
        float: none;
    }
    .content-section {
        padding: 0;
    }
    .login-fieldset, .login-signup-ctr {
        text-align: center;
    }
    .login-form {
        padding-top: 20%;
    }
    .secondPage {
        flex-direction: column;
        /* width: 100%; */
    }
    .thirdPage {
        flex-direction: column;
        width: 100%;
    }
    .aboutDiv {
        width: 75%;
        margin: 0 auto;
    }
    .fourthPage {
        flex-direction: column;
        width: 100%;
    }
    .aboutDiv2, .aboutDiv3, .aboutDiv4 {
        width: 75%;
        left: 0%;
        margin: 0 auto;
    }
    .firstPage {
        padding: 25px;
    }
    .nav {
        display: none;
    }
    .aboutDivLeft, .aboutDivRight {
        padding: 0;
        width: 100%;
        left: 0;
        margin: 0 auto;
    }
    #mobileMenu {
        display: flex;
        height: 100%;
        width: 0%;
        flex-direction: column;
        position: fixed;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    #mobileMenu input {
        display: flex;
        width: 50px;
        height: 40px;
        position: fixed;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        top: 35px;
        left: 16px;
    }

    #mobileMenu span {
        display: flex;
        width: 40px;
        height: 4px;
        top: 25px;
        left: 25px;
        margin-bottom: 7.5px;
        position: relative;
        background: #36383F;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
    }

    #mobileMenu span:first-child {
        transform-origin: 0% 0%;
    }
    #mobileMenu span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    #mobileMenu input~span {
        background: #36383F;
    }
    #mobileMenu input:checked~span {
        transform: rotate(45deg)/*translate(0px, -5.5px)*/
        ;
        background: #36383F;
    }
    #mobileMenu input:checked~span:nth-last-child(3) {
        transform: rotate(0deg) scale(0.01, 0.01);
    }
    #mobileMenu input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg)/*translate(0px, 5.5px)*/
        ;
    }
    #mobileMenuList {
        position: fixed;
        width: 40%;
        min-height: 100%;
        box-shadow: 0 0 10px #85888C;
        margin: -50px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background-color: #252525;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        color: white
        /* transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0); */
    }
    #mobileMenuList li {
        transition-delay: 1s;
        margin-left: 15px;
    }
    #mobileMenuList li>a {
        font-weight: lighter;
        margin: 10px;
        color: #90C2E7;
        text-decoration: none;
        font-size: 25px;
        font-family: 'Staatliches', cursive;
    }
    #mobileMenu input:checked~ul {
        transform: none;
    }
}

/* contact form */

.contact-btn {
    margin-left: 5px;
    background-color: white;
    padding: 5px;
    border-width: 1px;
    border-radius: 2px;
}