{% extends "base_generic.html" %}

{% load ratings %}

{% block content %}

<h1 id="novel-title" class="movie-title">{{ movie.title }}</h1>

{% if movie.file != None and is_user is True %}
<div class="movie-video-ctr" id="video-element-ctr" data-poster="/path/to/poster.jpg" style="padding:100px">
  <video class="movie-video" id="player" playsinline controls>
    <source src="{{movie.get_movie_url}}" type="video/mp4">
    <!-- Captions are optional -->
    <!-- <track kind="captions" label="English captions" src="/path/to/captions.vtt" srclang="en" default /> -->
  </video>
  <div class="movie-video" id="ad-container"></div>
</div>
{% else %}
<p class="movieBlock" style="background-color: #e4f2fc;">
  You're not logged in!
  <a href="{% url 'login' %}?next={{request.path}}">Log In</a> or <a
    href="{% url 'register' %}?next={{request.path}}">Register</a> to watch this film!
</p>
{% endif %}

<div class="movieBlock">
  <p>{% ratings movie 32 32 %} ({{movie.ratings.get.count}})</p>
  <h3>About The Movie</h3>
  <p><strong>Director:</strong> <a href="{% url 'director-detail' movie.director.pk %}">{{ movie.director }}</a></p>
  <p><strong>Summary:</strong> {{ movie.summary }}</p>
  <p><strong>Genre:</strong> {{ movie.genre }}</p>
  <p><strong>Release Date:</strong> {{ movie.year }}</p>
  <p><strong>Runtime:</strong> {{ movie.duration }}</p>
  <p><strong>FPS:</strong> {{ movie.fps }}</p>
  <p><strong>Video Dimensions:</strong> {{ movie.dimensions }}</p>
  <p><strong>Language:</strong> {{ movie.language }}</p>


</div>

<div class="researchArticles">
  <h3>Relevant Public Health Research Articles</h3>
  <ul>
    {% autoescape off %}
    {{movie.found_articles}}
    {% endautoescape %}
  </ul>
</div>
{% endblock %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/plyr.css' %}">
{% endblock %}

{% block javascript %}
{% load static %}
<script src="{% static 'js/plyr.js' %}"></script>
<script>
  var enableAds = '{{profile.user_type}}' != '3';
  console.log((enableAds) ? 'ads enabled' : 'ads disabled');

  var player = new Plyr('#player', {
    title: '{{ movie.title }}',
    ads: {
      enabled: enableAds,
      // ad integration with https://www.vi.ai/
      publisherId: '',
      // Insert custom VAST tag here if not using vi for ads
      tagUrl: 'https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/ad_rule_samples&ciu_szs=300x250&ad_rule=1&impl=s&gdfp_req=1&env=vp&output=vmap&unviewed_position_start=1&cust_params=deployment%3Ddevsite%26sample_ar%3Dpremidpost&cmsid=496&vid=short_onecue&correlator='
    },
    // captions: {
    //   active: true,
    // },
  });
</script>
{% endblock %}