{% extends "base_generic.html" %}

{% load ratings %}

{% block content %}

<div>
  {% if genre %}
  <h1 id="novel-title">{{genre}}</h1>
  {% else %}
  <h1 id="novel-title">Movie List</h1>
  {% endif %}

  <div style="text-align: center; color: rgb(155, 155, 155);" class="pagination">
    <span class="step-links">

      <span id="pagesTracker" class="current" style="text-align: center;">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      </span>

      <br>
      <br />

      {% if page_obj.has_previous %}
      <div>
        <a href="?genre={{genre}}&sort={{sort}}&tags={{tags}}&page=1">&laquo; first</a>
        <a href="?genre={{genre}}&sort={{sort}}&tags={{tags}}&page={{ page_obj.previous_page_number }}">previous</a>
      </div>
      {% endif %}


      {% if page_obj.has_next %}
      <div>
        <a href="?genre={{genre}}&sort={{sort}}&tags={{tags}}&page={{ page_obj.next_page_number }}">next</a>
        <a href="?genre={{genre}}&sort={{sort}}&tags={{tags}}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      </div>

      {% endif %}
    </span>
  </div>

</div>

<br/> 

<div class="dropdown">
  <span> Genres </span>
  <div class="dropdown-content">
    <a href="/movies/?genre=None&sort={{sort}}&tags={{tags}}">All</a>
    {% for g in genres %}
    <a href="/movies/?genre={{g}}&sort={{sort}}&tags={{tags}}">{{g.name}}</a>
    {% endfor %}
  </div>
</div>

<div style="margin-right: 2%;" class="dropdown">
  <span> Sort By </span>
  <div class="dropdown-content">
    <a href="/movies/?genre={{genre}}&sort=title&tags={{tags}}">Title (A-Z)</a>
    <a href="/movies/?genre={{genre}}&sort=-title&tags={{tags}}">Title (Z-A)</a>
    <a href="/movies/?genre={{genre}}&sort=director&tags={{tags}}">Director (First Name) </a>
    <a href="/movies/?genre={{genre}}&sort=-ratings__average&tags={{tags}}">Rating</a>
  </div>
</div>

<div style="margin-right: 2%;" class="dropdown">
  <span> Tags </span>
  <div class="dropdown-content">
    <form id="applyTags" method="post" class="tags-form">
      {% csrf_token %}
      {% for t in allTags %}
      <input type="checkbox" class="check-movie-tags" name="tags-checkmarks" value="{{ t.slug }}">
      <label for="tags-checkmarks">{{t.name}}</label>
      <br>
      {% endfor %}
      <input class= "myButton" type="submit" value="Submit">
    </form>
  </div>
</div>


<br /> <br /> <br />

{% if movie_list %}
<ul>
  {% for movie in movie_list %}
  <li class="movieBlock">
    <img class="moviePoster" src="{{ movie.thumbnail }}" alt="{{ movie.title }}">
    <a class="movieTitle" href="{{ movie.get_absolute_url }}">{{ movie.title }}</a>
    <p class="movieTags"><a style="color: white; text-decoration: none;"
        href="/movies/?genre={{movie.genre}}&sort={{sort}}&tags={{tags}}">{{ movie.genre }}</a></p>
    <div style="padding: 3%; float: right;">{% ratings movie 24 24 True %} ({{movie.ratings.get.count}})</div>
    <p class="movieDirector"> Directed by <a>{{ movie.director }}</a> </p>
    <p class="movieDescription"><strong>Summary:</strong> {{ movie.summary }}</p>
    <p class="movieDescription">
      {% if movie.tags.all %}
      <strong>Topics Covered:</strong>
      {% for tag in movie.tags.all %}
      {{ tag.name }}{% if not forloop.last %},{% endif %}
      {% endfor %}
      {% endif %}
    </p>
  </li>
  <br>
  {% endfor %}
</ul>

{% else %}
<p>There are no movies in the library.</p>
{% endif %}
{% endblock %}

{% block javascript %}
<script>
  window.onload = function () {
    // get current tags from the url on load
    var currentTags = '{{tags}}'.split(',');
    var elements = document.querySelectorAll('.tags-form input');
    var slugs = Array.prototype.map.call(elements, function (el, i) {
      for (let i = 0; i < currentTags.length; i++) {
        if (currentTags[i] == el.value) {
          el.checked = true;
          break;
        }
      }
      return el.value;
    });

    // update tags on form submission
    var applyTagsForm = document.getElementById('applyTags');
    applyTagsForm.addEventListener('submit', function (e) {
      let checkedElements = document.querySelectorAll('.tags-form input:checked');
      let checkedSlugs = Array.prototype.map.call(checkedElements, function (el, i) {
        return el.value;
      });

      applyTagsForm.action = "/movies/?genre={{movie.genre}}&sort={{sort}}&tags=" + checkedSlugs.join(',');
    });
  }
</script>
{% endblock %}