{% extends "base_generic.html" %}

{% block content %}

<h1>Title: {{ movie.title }}</h1>

<p><strong>Director:</strong> <a href="{% url 'director-detail' movie.director.pk %}">{{ movie.director }}</a></p>
<p><strong>Summary:</strong> {{ movie.summary }}</p>
<p><strong>Genre:</strong> {{ movie.genre }}</p>
<p><strong>Release Date:</strong> {{ movie.year }}</p>
<p><strong>Runtime:</strong> {{ movie.duration }}</p>
<p><strong>FPS:</strong> {{ movie.fps }}</p> 
<p><strong>Video Dimensions:</strong> {{ movie.dimensions }}</p> 
<p><strong>Language:</strong> {{ movie.language }}</p> 

{% if movie.file != None %}
<video width="320" height="240" controls>
    <source src="{{movie.get_movie_url}}" type="video/mp4">
  Your browser does not support the video tag.
</video>
{% endif %}

<ul>
  {% autoescape off %}
  {{movie.found_articles}}
  {% endautoescape %}
</ul>

</div>
{% endblock %}

