{% extends "base_generic.html" %}

{% block content %}
    <h1 id="novel-title">Movie List</h1>

    {% if movie_list %}
    <ul >

      {% for movie in movie_list %}
      <li class="movieBlock">
        <img class="moviePoster" src="{{ movie.thumbnail }}" alt= "{{ movie.title }}">
        <a class= "movieTitle" href="{{ movie.get_absolute_url }}">{{ movie.title }}</a> 
      
        <p class= "movieDirector"> Directed by <a href="{{ movie.director.get_absolute_url }}">{{ movie.director }}</a> </p>
        <p class= "movieDescription"><strong>Summary:</strong> {{ movie.summary }}</p>

      </li>
      <br>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no movies in the library.</p>
    {% endif %}       
{% endblock %}

